/*
white: #F7F9F9;
light-blue: #2081C3;
dark-blue: #0A2C42;
grey: rgba(145, 145, 145, 0.481);
font-family: Arial, Helvetica, sans-serif
*/

.beer-pic {
  height: 338px;
  width: 124px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card-beer {
  display: inline-block;
  width: 279px;
}

.card p {
  width: 262px;
}

.card h3 {
  text-align: center;
}