<div class='container-fluid'>
  <div class="row">
    <div class="col d-flex justify-content-center p-0">
      <img src="images/beer.png" alt="beers" class="beer ml-5 mt-5">
    </div>
  </div>
  <div class="row">
    <div class="col d-flex justify-content-center mt-4  p-0">
      <a role="button" href="/beers" class="btn btn-primary btn-lg">Check the Beers!</a>
    </div>
  </div>
  <div class="row">
    <div class="col d-flex justify-content-center mt-4 p-0">
      <a role="button" href="/random-beers" class="btn btn-primary btn-lg">Check a Random Beer!</a>
    </div>
  </div>
</div>